html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    -webkit-user-drag: none;
    user-select: none;
}

:root {
    --ikaros-theme-color: #d9ecff;
    --ikaros-hover-color: #ecf5ff;
    // --el-menu-bg-color: var(--ikaros-theme-color);
    // --el-menu-hover-bg-color: var(--ikaros-hover-color);
}